<html>
	<head>
		<title>Restaurant List</title>
	</head>
	<body>
		<form method="POST" action="../controller/AddRestaurants.php">
			<fieldset style="width: 600px;height:200px; margin: 180px 460px 400px">
					<h2 align="center"><b><i>Add Restaurants</i></b></h2>
					<TABLE>
						<tr>
							<td><b> Name </b></td>
						    <td><input type="Text" name="Name" value="" ></td>
					    </tr>
						<tr>
							<td><b> Location </b></td>
						    <td><input type="Text" name="Location" value="" ></td>
					    </tr>

					    <tr>
							<td><b> Link </b></td>
						    <td><input type="url" name="Link" value="" ></td>
					    </tr>
					    <tr>
						
						    <td>
						    	
						    	<input type="submit" name="Add" value="Add">
						    </td>
					    </tr>
					</TABLE>
			</fieldset>
		</form>
	</body>
</html>
