<html>
	<head>
		<title>Review</title>
	</head>

	<body  style="background:linear-gradient(to bottom, #ffffff 0%, #ccff99 100%);">
		<form method="post" action="../controller/Review.php" enctype="">


			<fieldset style="width: 600px;height: 200; margin: 200px 400px 200px">
				<h1 align="center"><b><i>Share Your Experience,Write a Review</i></b></h1>
				<h3><a href=""></a></h3>
				<table>
					<tr>
						<td>
							<input type="Text" name="Review" value="" placeholder="what would you like to review?" >
							<input type="submit" name="sReview" value="submit">	
						</td>
					</tr>
					<tr>
						<td>Rate Us
							<input type="radio" name="rate" value="*">*
							<input type="radio" name="rate" value="**">**
							<input type="radio" name="rate" value="***">***
							<input type="radio" name="rate" value="****">****
							<input type="radio" name="rate" value="*****">*****
						</td>
					</tr>
					<tr>
						<td><a href="../view/SeeReviews.php">View Reviews</a></td>
					</tr>
				</table>
			</fieldset>
		</form>
	</body>
</html>